@charset "UTF-8";
/* telas até 768px (celulares e tablets pequenos) */
@media (max-width: 768px) {

    .container {
        grid-template-columns: 1fr;  /* vira 1 coluna */
        grid-template-rows: auto;    /* deixa o conteúdo ajustar sozinho */
        width: 90%;                  /* ocupa bem a tela, mas continua centralizado */
    }

    .topo {
        grid-column: 1;
        grid-row: auto;
    }

    .menu {
        grid-column: 1;
        grid-row: auto;
        justify-content: space-between;
    }

    .principal {
        grid-column: 1;
        grid-row: auto;
    }

    .secundario {
        grid-column: 1;
        grid-row: auto;
        text-align: center;
    }

    .secundario img {
        width: 200px;   /* aumenta a imagem no celular */
        height: auto;
    }

    .rodape {
        grid-column: 1;
        grid-row: auto;
    }
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0px;
}


.container{
    display: grid;
    grid-template-rows: repeat(10,50px);
    grid-template-columns: repeat(5, 100px);
    gap: 5px;
    align-items: center;
}
.topo{
    padding: 0 5px;

    color: white;
    background-color: aquamarine;
    /* grid-row: 1 / 3;
    grid-column: 1 / 5; */
    grid-area: 1 / 1 / 3 / 5;
}
h1{
    text-align: center;
    color: rgba(10, 3, 3, 0.582);
}
.material-icons{
    
    font-size: 32px;
    color: white;
    margin-left: auto; 
    margin-right: auto;
   
}
.menu{
    display: flex;
    align-items: center;
    color: white;
    background-color: dimgray;
    /* grid-row: 3 / 4;
    grid-column: 1 / 5; */
    grid-area: 3 / 1 / 4 / 5;
    text-align: center;
    padding: 0 5px;
    height: 100%;
   
}
.menu p{
    margin: 0;
    text-align: initial;
   
}

.principal{
    padding: 0 5px;
    border: 5px;
    color: white;
    background-color: lightcoral;
    /* grid-row: 4 / 9;
    grid-column: 1 / 4; */
    grid-area: 4 / 1 / 9 / 4;
}
.principal p{
    text-align: center;

}

.secundario{
    
    color: white;
    background-color: rgba(24, 24, 218, 0.863);
    /* grid-row: 4 / 9;
    grid-column: 4 / 5; */
    grid-area: 4 / 4 / 9 / 5;
}
.secundario img{
    height: 250px;
    width: 95px;
}
.rodape{
    color: white;
    background-color: green;
    /* grid-row: 9 / 10;
    grid-column: 1 / 5; */
    grid-area: 9 / 1 / 10 / 5;
    text-align: center;
    padding: 0 5px;
    height: 100%;
}
.rodape p {
    margin: 0;
    text-align: initial;

}

.autoria a{
    align-items: center;
    text-decoration: none;
    color: white;
}