@charset "UTF-8";

.container{
    display:grid;
    grid-template-rows: repeat(3, 100px);/*3 linhas de 100px cada uma*/
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.caixa1{
    background-color: brown;
    grid-area: 1 / 1 / 2 / 5 ;
    /*grid-area: 1 / 1 / 1 / span 1 / span 4*/
    
    /* grid-row: 1/2;
    grid-column: 1/5; */

}

.caixa2{
    background-color: green;
    grid-area: 2 / 1 / 4 / 3;
    /*grid-area: 1 / 1 / 1 / span 2 / span 2*/

    /* grid-row: 2/4;
    grid-column: 1/3; */
}

.caixa3{
    background-color: blue;
    grid-area: 2 / 3 / 4 / 5;
    /*grid-area: 1 / 1 / 1 / span 2 / span 2*/

    /* grid-row: 2/4;
    grid-column: 3/5; */
}

